body{
    background-color: rgb(245, 242, 242);
}
h2, label{
    color: black;
}
#botao{
    color: blue;
}
.mensagem{
    width: 80px;
    height: 15px;
    background-color: brown;
    border: 1px solid rgb(235, 226, 226);
    margin-left: 100px;
    margin-top: 9px;
    color: rgb(252, 117, 7);
}